.neuroglancer-accordion {
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  background-color: #141414;
}

.neuroglancer-accordion-item[data-expanded="true"] {
  background-color: #1a1a1a;
}

.neuroglancer-accordion-item {
  border-bottom: 1px solid #ddd;
}

.neuroglancer-accordion-item[data-expanded="true"] .neuroglancer-accordion-body {
  display: flex; /* Show when expanded */
}

.neuroglancer-accordion-item[data-expanded="false"] .neuroglancer-accordion-body {
  display: none; /* Hide when collapsed */
}

.neuroglancer-accordion-item[data-expanded="false"] {
  background-color: #141414;
}

.neuroglancer-accordion-header {
  padding: 10px;
  cursor: pointer;
  background-color: #141414;
}

.neuroglancer-accordion-header:hover {
  background-color: #141414;
}

.neuroglancer-accordion-body {
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
}
