/* Variables */
:root {
  --white: #FFF;
  --panelItemBorder: #aaa;
  --panelItemBorderSelected: #3c3;
  --panelItemBorderArchived: #666;
  --panelItemIcon: #999;
  --panelItemHoverBgColor: #333;
}

.neuroglancer-layer-list-panel-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  height: 0px;
  min-height: 0px;
  flex-basis: 0px;
}

.neuroglancer-layer-list-panel-item {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border: 1px solid var(--panelItemBorder);
  margin: 2px;
}

.neuroglancer-layer-list-panel-item[data-selected="true"] {
  border-color: var(--panelItemBorderSelected);
}

.neuroglancer-layer-list-panel-item[data-archived="true"] {
  border-color: var(--panelItemBorderArchived);
}

.neuroglancer-layer-list-panel-item[data-archived="true"]
  .neuroglancer-layer-side-panel-name,
.neuroglancer-layer-list-panel-item[data-archived="true"]
  .neuroglancer-icon
  svg {
  color: var(--panelItemIcon);
}

.neuroglancer-layer-list-panel-item:hover {
  background-color: var(--panelItemHoverBgColor);
}

.neuroglancer-layer-list-panel-item-number {
  background-color: var(--layer-number-color);
  color: var(--white);
  font-weight: bold;
  display: inline-block;
}
